In [1]:
import pandas as pd

In [3]:
data = pd.read_excel("test.xlsm", sheet_name='Reference Table1')

In [4]:
data

,Product,Total Positions,Lee Hua's remark,Note: This table is for product reference (based on HTOL Forecast)
0,Arcadia,TBD,NaN,NaN
1,Ar,121,NaN,**Need to control the source of this table
2,Atlas Classic,240,NaN,if standardized the naming will impact the macro
3,AZ,448,NaN,NaN
4,Bergamo,448,NaN,NaN
...,...,...,...,...
73,XASV59,192,NaN,NaN
74,X10,240,NaN,NaN
75,X20,240,ABI Platform,NaN
76,X50,180,ABI Platform,NaN
77,X9,54,ABI Platform,NaN

In [5]:
data.columns

Index(['Product', 'Total Positions', 'Lee Hua's remark',
       'Note: This table is for product reference (based on HTOL Forecast)'],
      dtype='object')